/* Global style start*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    /* background: red; */
    border: 1px solid #dedede;
    padding: 15px;
}
.clearfix{
    clear: both;
}
img{
    max-width: 100%;
    height: auto;
}

.text-center{
    text-align: center;
}


.btn {
    display: inline-block;
     padding: 0 15px; 
    background-color: #288a42;
    line-height: 40px;
    color: #fff;
    font-family: sans-serif;
    text-decoration: none;
    border-radius: 10px; 
    transition: all 0.25s;
    cursor: pointer;
    border: 0px solid transparent;

    
}

.btn:hover{
    background: #33c338;
}
.google-map{
    margin: 15px 0;
}




/* Global style end */




/* post style start */
.post .post-title{
    margin: 5px 0;
}
.post .post-title+p{
    margin-top: 0;

}
.post .post-title a{
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
    transition: all .25s;
}
.post .post-title a:hover{
    color: brown;


}
/* post style end */


/* work style start */

.works{
    padding: 10px 0;
    z-index: 0;

}
.works .item{
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}
.works .item-title  {
    position: absolute;
    left: 0;
    /* bottom: -60px; */
    bottom: 60px;
    background: rgb(70 55 55 / 34%);
    margin: 0;
    /* padding: 15px; */
    color: #fff;
    right: 0;
    transition: all .25s;
    opacity: 0;
    
} 
.works .item-title a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 15px;
    width: 100%;

}
.works .item:hover .item-title{
    /* bottom: 0; */
    bottom: 4px;
    opacity: 1;
}
/* Work style end */




/* contact us style start */
.contact-us input{
    width: 100%;
    display: inline-block;
    padding: 0 10px;
    line-height: 35px;
    border: 1px solid #dedede;
    margin-bottom: 15px;
}
.contact-us textarea{
    width: 100%;
    display: inline-block;
    padding: 0 10px;
    line-height: 35px;
    border: 1px solid #dedede;
    min-height: 141px;
    margin-bottom: 15px;
}

/* contact us style end */





/* banner style start */
.banner{
    padding: 10px 0;
    z-index: 0;

}
.banner .item{
    position: relative;
    overflow: hidden;
}
.banner .item-title{
    position: absolute;
    left: 0;
    /* bottom: -60px; */
    bottom: 50px;
    background: rgb(70 55 55 / 34%);
    margin: 0;
    padding: 10px;
    color: #fff;
    right: 0;
    transition: all .25s;
    opacity: 0;
    
} 
.banner .item:hover .item-title{
    /* bottom: 0; */
    bottom: 4px;
    opacity: 1;
}
/* banner style end */






/* grid style start */
.row{
    margin-right: -15px;
    margin-left: -15px;
}
.col-4{
    width: 25%;
    
}
.col-3{
    width: 33.33%;
    
}
.col-32{
    width: 66.66%;
    
}
.col-2{
    width: 50%;
    
}
.col-32, .col-3, .col-2, .col-4 {
    
    float: left;
   
    padding: 0  15px;
}
.col-4 article{
    background: lightcoral;
    
}



/* grid style end */





/* Header style start */
.logo{
    float: left;
}
.userarea{
     /* padding-bottom: 30px;  */
    float: right; 
}
.userarea a
{
    display: inline-block;
     padding: 0 15px; 
    background-color: #288a42;
    line-height: 40px;
    color: #fff;
    font-family: sans-serif;
    text-decoration: none;
    border-radius: 10px; 
    transition: all 0.25s;

    
}
.userarea a:hover
{
    background: #33c338;
}



/* Header style end */





/* Mehu styling start  */
.menu{
    width: 100%;
    display: inline-block;
    background: #b5e6b7;
    z-index: 999;

}
.menu ul{
    margin: 0;
    padding: 0;
}
.menu>ul>li{
    float: left;
    list-style: none;
    position: relative;
    /* background: red; */
}
.menu li>.sub-menu{
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 999;
}
.menu li a{
    display: inline-block;
     padding: 0 15px; 
    /* background-color: #288a42; */
    line-height: 40px;
    color: black;
    font-family: sans-serif;
    text-decoration: none;
    /* border-radius: 10px; */
}
.menu>ul>li:hover .sub-menu{
    /* to make the sub-menu visible */
    display: block;

}
.menu li a:hover{
    background: #33a531;
    color: white;

}
.sub-menu{
    background-color: #b5e6b7;
    width: 160px;
    /* to  make it invisible */
    display: none;
}

.sub-menu li{
    list-style: none;
    position: relative;
}
.sub-menu a{
    width: 100%;
}
.sub-menu>li>.sub-menu{
    top: 0;
    left: 100%;
    /* important is used to resist any other effect from the top then stop them by force */
    display: none !important;
}
.sub-menu>li:hover>.sub-menu{
    display: block !important;
} 
#menutrigger{
    width: 40px;
    height: 23px;
    margin: 11px;
    border-bottom: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    position: relative;
    float: right;
}
#menutrigger span {
    width: 40px;
    height: 3px;
    display: inline-block;
    /* border-bottom: 2px solid #ffffff; */
    /* border-top: 2px solid #ffffff; */
    position: absolute;
    top: 7px;
    background: white;
    line-height: 20px;
    cursor: pointer;
}


/* Menu styling ends here */





/* sidebar style start */
#sidebar{
   padding-top: 25px;
}
.widget{
    border: 1px solid #dedede;
    padding: 15px;
    text-align: center;
    margin-bottom: 30px;
}
.widget .widget-title{
    margin-top: 0px;
}
.widget ul{
    margin: 0;
    padding: 0;
}
.widget li{
    list-style: none;
    
}
.widget li>a{
    text-decoration: none;
    color: black;
    /* background-color: red; */
    display: inline-block;
    width: 100%;
    margin: 5px 0;
    /* padding: 15px; */
    line-height: 35px;
    border-bottom: 1px solid #dedede;

}
.widget li>a:hover {
    background-color: #79c17c;
    
    
}
.subscribe input{
    width: 100%;
    display: inline-block;
    padding: 0 10px;
    line-height: 35px;
    border: 1px solid #dedede;
    transition: all .25s;
}
.subscribe .btn{
    margin-top: 10px;
}

/* sidebar ends */



/* footer style start */
.copyright{
    background: #85c388;
    padding: 20px;
    
}
/* footer style ends */



/* responsive styles Start */
@media screen and (max-width: 960px){
    .works .col-3{
       width: 50%;
    }
}
@media screen and (max-width: 728px){
    
    .col-2, .col-3, .col-32, .col-4, .works .col-3{
        width: 100%;
    }
    .menu>ul>li{
        float: none;
    
    }
    .menu li a{
        width: 100%;
    }
    .menu li>.sub-menu{
        position: initial;
        padding: 25px;
    }
    .menu>ul>li>.sub-menu{
        display: block;
    }
    .sub-menu>li>.sub-menu{
        display: block!important;
    }
}
/* responsive style end */


